


.About-page-section{
background-image: url(../image/about-page.jpg);
background-position: center;
background-size: cover;
height: 37.5rem;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
position: relative;

}
.header-about .bottom-border{
    border-bottom: 2px solid;
    width: 100px;
    margin: auto;
    margin-bottom: 10px;
}
.header-about{
    color: #fff;
    /* position: absolute;
    left: 30%;
    top: 0;
    right: 30%; */
    


}
.header-about .bottom-border{
    border-bottom: 2px solid;
    width: 100px;
    margin: auto;
    margin-bottom: 10px;
}
.header-about h1 {
   
        font-size: 100px;
        font-weight: 700;
    }
.header-about p{
    font-size: 30px;
}

.overly{
    position: absolute;
    background-color: #f1f1f13b;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;

}



/* paragraph2-section */

.paragraph2-section{
    padding: 5rem 0;
}

.paragraph2{
    text-align: center;
    color: #646464;
    align-items: center;
    font-size: 18px;
}



.paragraph2 h2{
    color: #37a1da;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
}
.shake-hand-maindiv{
    display: flex;
    text-align: left;
    align-items: center;

}
.shake-hand-maindiv img{
    width: 100%;
    height: 35.3rem;
}
.paragraph-two{
    padding: 5rem 19rem 6rem 5rem;
    background-color: #37a1da;
    height: 35.3rem;
    font-size: 18px;
    color: #fff;
    }
    .paragraph-two h3,.paragraph-one h3{
        font-size: 35px;
    }
    .paragraph-one{
        padding: 5rem 5rem 6rem 19rem;
    background-color: #37a1da;
    height: 35.3rem;
    font-size: 18px;
    color: #fff;
    }