
.contact-section{
    
    /* background:linear-gradient(0deg, rgba(255, 0, 150, 0.3), rgba(255, 0, 150, 0.3)), url(http://lorempixel.com/800/600/nature/2); */
    background:linear-gradient(0deg, rgba(50, 94, 169, 0.9),rgba(55, 161, 218, 0.9)), url(../image/Layer.png);
    width: 100%;
    margin-left: auto;
    background-size:cover;
height: 600px;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
position: relative;

}
.header-contact .bottom-border{
    border-bottom: 2px solid;
    width: 100px;
    margin: auto;
    margin-bottom: 10px;
}
.header-contact h1 {
    font-size: 100px;
    font-weight: 700;
}
.header-contact p{
    font-size: 30px;

}

.overly{
    position: absolute;
    
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;

}
.header-contact{
    color: #fff;
}



.map{
    height: 500px;
}








/* .form-control{
    width: 95%;
} */
.user-detail{
    padding: 70px 0;
}
.name-input{
    display: flex;
    /* justify-content: space-around; */
    width: 95%;
    justify-content: center;
    margin: auto;
    /* padding: 30px; */
}
.form-control {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    margin: 2px 7px 20px 7px;
    font-size: 15px;
}
   

.Email-phone{
    display: flex;
    width: 95%;
  margin: auto;
    justify-content: center;
}
 .text-area{
    width: 94%;
    margin: 2px 7px 0 7px;
    margin: auto;
}


.input-user {
    border: 1px solid #ced4da;
    border-radius: 15px;
    margin: 20px 0;
    padding: 40px 0 25px;
}


.submit-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.send-btn{
    padding: 16px 120px;
    background-color: #49a8dc;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    border: none;

}
.send-btn:hover{
    background-color: #49a8dc;
}
.send-btn:focus{
    border: none;
    background-color: #49a8dc;
}
