.logo-slide{
    display: flex;
}


@media(min-width:1200px){
   
       
    .container{
        width: 100%;
        padding: 0 1.3rem;
    }
    html{
        font-size: 100%;
    }
}

@media(min-width:991px){
   
       
    .container{
        width: 100%;
        padding: 0 1.3rem;
    }
    html{
        font-size: 90%;
    }
}


@media(min-width:767px){
   
       
    .container{
        width: 100%;
        padding: 0 1.3rem;
    }
    html{
        font-size: 80%;
    }
}

/* 
@media(min-width:670){
   
       
    .container{
        width: 100%;
        padding: 0 1.3rem;
    }
    html{
        font-size: 90%;
    }
} */






@media(max-width:600px){
   
       
    .container{
        width: 100%;
        padding: 0 1.3rem;
    }
    html{
        font-size: 50%;
    }
}






@media(max-width:425px){
   
       
    .container{
        width: 100%;
        padding: 0 1.3rem;
    }
    html{
        font-size: 30%;
    }
}
