
.footer-card-section{
    background-color: #102343;
    padding: 100px 0;
  }
  .card-bottom{
    background-color: #102343;
    border: none;
    color: #fff;
  }
  .card-text-2{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 17px;
}
  .card-bottom .card-body{
    padding-left:0 ;
  }
  .card-bottom .card-body .card-title{
    font-size: 30px;
    font-weight: bold;
  }
  
  .reative-img{
    margin-bottom: 30px;
  }
  .card-list ul{
    padding-left: 0;
  }
  .card-list ul li{
    list-style-type: none;
    line-height: 40px;
    font-size: 18px;
  }
  .bottom-card-body{
    padding: 0;
  }
  
  .inner-body{
      text-align: center;
  }
  .inner-body .card-title{
    margin-bottom: 30px;
    
  }
  .input{
    background-color: #102343;
    border-bottom: 1px solid #fff;
    color: rgb(248, 242, 242);
    margin-bottom: 30px;
  }
  .input:focus{
  border: none;
  }
  .email-span{
  border-bottom:4px solid #fff;
  margin-bottom: 20px;
  }
  
  .Stay-Upto{
    margin-bottom: 40px;
  }
  .signupbtn{
  padding: 14px 40px;
  background-color: #102343;
  border-color: #fff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  }
  .signupbtn:hover{
   background-color:  #37a1da;
  }
  .icon-font ul{
    padding-left: 0;
    display: flex;
  }
  .icon-font ul li{
    list-style-type: none;
    font-size: 30px;
    margin: 10px;
  }
  .icon-font ul li a{
    color: #fff;
  }
  .icon-font ul :first-child{
    margin-left: 0;
  }
  